/* Color Palet 2F6690 3A7CA5 D9DCD6 16425B 81C3D7 */
/* Reset */
* {
    padding: 0%;
    margin: 0%;
}

/* Imagenes */
.img-mini-mage {
    height: 75px;
    width: 75px;
}

.treasure-1 {
    height: 200px;
    width: 200px;
}

textarea {
    height: 200px;
    width: 90%;
}

/* ----------------- Body ----------------- */
body {
    background-color: #d9dcd6;
    display: flex;
    flex-direction: column;
    
}

.page-title {
    text-align: center;
    font-weight: bolder;
    font-size: calc(2em + 2vw);
}

#main-page-title {
    color: #81c3d7;
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}


/* ----------------- Shop CSS ----------------- */

.shop-items-container {
    display: grid;
    background-color: rgb(175, 177, 180);
    justify-content: center;
    align-content: space-around;
    grid-template-columns: repeat(auto-fit, 300px);
}

.shop-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #3A7CA5;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: solid;
    font-size: large;
    font-weight: bolder;
}

.shop-item img {
    width: 200px;
    height: 250px;
}

.shop-item p {
    padding: 0%;
    margin: 0%;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);   
}

.shop-item button {
    width: 70px;
    border: 3px solid #000;
    font-weight: bolder;
    color: rgba(45, 45, 47, 0.886);
    border-radius: 5px;
    background: rgba(255, 217, 0, 0.8);
}

/* ----------------- Nav Bar ----------------- */
header nav ul {
    list-style: none;
}

header nav li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    background-color: #81C3D7;
    border: solid;
}

header button {
    height: 75px;
    width: 100px;
    background-color: #2f6690;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
}

.WheelDiv {
    background-color: #021f5427;
    width: 100%;
}

.arrow {
    width: 50px;
    height: auto;
}

hr {
    height: 3px;
    margin: 3px 3px;
    background-color: black;
    border: none;
}

section {
    background-color: #81c3d7;
    padding: 20px;
    margin: 10px;
}

section h2 {
    padding: 0px;
    margin: 0px;
}

.date {
    padding: 0px;
    margin: 0px;
}


/* ----------------- Footer ----------------- */
footer {
    display: flex;
    align-items: center;
    padding: 5px 5px 10px 5px;
    position: fixed;
    bottom: 0;
    background-color: #2f6690;
    height: 30px;
    width: 100%;
}

.footer-icono {
    height: 20px;
    width: 20px;
}


/* ----------------- Media queries tablet ----------------- */
@media only screen and (max-width: 991px) {
    /* ----------------- Footer ----------------- */
    footer {
        height: 45px;
    }

    .footer-icono {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

/* ----------------- Media queries smartphone ----------------- */
@media only screen and (max-width: 575px) {
    /* ----------------- Footer ----------------- */
    .footer-icono {
        margin-right: 20px;
        margin-left: 20px;
    }
}