/* Color Palet 2F6690 3A7CA5 D9DCD6 16425B 81C3D7 */
/* ----------------- Reset ----------------- */
* {
  padding: 0;
  margin: 0;
}

hr {
  height: 3px;
  margin: 3px 3px;
  background-color: black;
  border: none;
}

main {
  padding-bottom: 50px;
  top: 120px;
  position: relative;
}

p {
  text-align: justify;
}

a {
  color: #0018cf;
}

.page-title {
  text-align: center;
  font-weight: bolder;
  font-size: calc(2em + 2vw);
  margin: 20px;
  color: #81c3d7;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

section {
  background-color: rgb(175, 177, 180);
  padding: 20px;
  margin: 10px;
  border: 3px solid #000;
}
section h2 {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}
header .img-mini-mage {
  height: 90px;
  width: 90px;
}
header .btn-play-now {
  height: 75px;
  font-size: larger;
}
header .nav-link {
  font-size: large;
}

body {
  background-color: #d9dcd6;
  display: flex;
  flex-direction: column;
  background-image: url("../img/background-treasure.png");
  background-size: cover;
  height: 100vh;
}

#main-index #carousel-main {
  height: 100%;
  margin-top: 35px;
  margin-bottom: 150px;
}
#main-index #carousel-main .carousel-inner {
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  min-height: 900px;
  height: auto;
  border: 3px solid #000;
}
#main-index #carousel-main .carousel-inner .wheel-div {
  background-color: #b3b9c5;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main-index #carousel-main .carousel-inner .wheel-div div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 15%;
  max-width: 70%;
}
#main-index #carousel-main .carousel-inner .wheel-div img {
  align-self: center;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}
#main-index #carousel-main .arrow {
  width: 50px;
  height: auto;
  position: absolute;
  top: 400px;
}

.main-shop .shop-items-container {
  display: grid;
  background-color: rgb(175, 177, 180);
  justify-content: center;
  justify-items: center;
  align-content: space-around;
  grid-template-columns: repeat(auto-fit, 300px);
}
.main-shop .shop-items-container .shop-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #3A7CA5;
  width: 250px;
  height: 370px;
  margin: 10px;
  padding: 10px;
  border: solid;
  font-size: large;
  font-weight: bolder;
}
.main-shop .shop-items-container .shop-item h2 {
  font-size: larger;
  font-weight: bolder;
  padding: 0%;
  margin: 0%;
  margin: 10px;
  color: rgb(0, 0, 0);
}
.main-shop .shop-items-container .shop-item img {
  width: 200px;
  height: 250px;
  border: 3px solid #000;
}
.main-shop .shop-items-container .shop-item .shop-item-button, .main-shop .shop-items-container .shop-item .shop-item-button-bundle {
  height: 35px;
  width: 70px;
  border: 3px solid #000;
  font-weight: bolder;
  color: rgba(45, 45, 47, 0.886);
  border-radius: 5px;
  background: rgba(255, 217, 0, 0.8);
}
.main-shop .shop-items-container .shop-item .shop-item-button:hover, .main-shop .shop-items-container .shop-item .shop-item-button-bundle:hover {
  height: 45px;
  width: 90px;
  margin: -5px 0px;
}
.main-shop .shop-items-container .shop-item .shop-item-button-bundle {
  width: 120px;
  background: rgb(115, 198, 8);
}
.main-shop .shop-items-container .shop-item .shop-item-button-bundle:hover {
  height: 45px;
  width: 140px;
}

.forum-topic {
  padding: 10px;
}
.forum-topic h2 {
  display: inline;
}
.forum-topic button {
  border: 0px solid black;
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  align-self: flex-end;
  width: 150px;
  height: 55px;
}
.forum-topic button:hover {
  background-color: #0f2231;
}
.forum-topic .forum-message {
  background-color: #d9e5ee;
  padding-left: 5px;
}

.main-support h2 {
  margin-bottom: 20px;
}
.main-support .faq-section {
  margin-bottom: 40px;
}
.main-support .faq-section .faq-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.main-support .faq-section .faq-card h3 {
  font-size: large;
}
.main-support .faq-section .faq-card:hover {
  background-color: rgb(140, 153, 178);
  cursor: pointer;
}
.main-support .contact-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}
.main-support .contact-section form {
  display: flex;
  flex-direction: column;
}
.main-support .contact-section form div {
  margin-bottom: 10px;
}
.main-support .contact-section form div label {
  display: block;
  margin-bottom: 5px;
}
.main-support .contact-section form div input[type=text], .main-support .contact-section form div input[type=email], .main-support .contact-section form div textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.main-support .contact-section form input[type=submit] {
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  align-self: flex-end;
  width: 150px;
  height: 55px;
}
.main-support .contact-section form input[type=submit]:hover {
  background-color: #0f2231;
}

footer {
  display: flex;
  align-items: center;
  padding: 5px 5px 10px 5px;
  position: fixed;
  bottom: 0;
  background-color: #2f6690;
  height: 30px;
  width: 100%;
  z-index: 1;
}
footer .footer-icono {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
footer .footer-icono:hover {
  height: 30px;
  width: 30px;
}

/* ----------------- Media queries tablet ----------------- */
@media only screen and (max-width: 991px) {
  main {
    top: 100px;
  }
  /* ----------------- index.html ----------------- */
  #main-index #carousel-main {
    margin-top: 35px;
    margin-bottom: 75px;
  }
  #main-index #carousel-main .carousel-inner {
    min-height: 1000px;
  }
  #main-index #carousel-main .carousel-inner .wheel-div img {
    width: 350px;
    height: 350px;
  }
  #main-index #carousel-main .arrow {
    width: 40px;
    top: 450px;
  }
  /* ----------------- Footer ----------------- */
  footer {
    height: 45px;
  }
  footer .footer-icono {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
  }
  footer .footer-icono:hover {
    width: 30px;
    height: 30px;
  }
  /* ----------------- Header ----------------- */
  header .img-mini-mage {
    width: 75px;
    height: 75px;
  }
}
/* ----------------- Media queries smartphone ----------------- */
@media only screen and (max-width: 575px) {
  /* ----------------- index.html ----------------- */
  #main-index #carousel-main {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  #main-index #carousel-main .carousel-inner {
    min-height: 900px;
  }
  #main-index #carousel-main .carousel-inner .wheel-div img {
    width: 200px;
    height: 200px;
  }
  #main-index #carousel-main .arrow {
    width: 30px;
  }
  footer .footer-icono {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
