.main-shop {
    .shop-items-container {
        display: grid;
        background-color: rgb(175, 177, 180);
        justify-content: center;
        justify-items: center;
        align-content: space-around;
        grid-template-columns: repeat(auto-fit, 300px);
    
        .shop-item {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: #3A7CA5;
            width: 250px;
            height: 370px;
            margin: 10px;
            padding: 10px;
            border: solid;
            font-size: large;
            font-weight: bolder;
            
            p {
                padding: 0%;
                margin: 0%;
                margin: 10px;
                color: rgb(0, 0, 0);   
            }
    
            img {
                width: 200px;
                height: 250px;
                border: 3px solid #000;
            }    
    
            .shop-item-button {
                height: 35px;
                width: 70px;
                border: 3px solid #000;
                font-weight: bolder;
                color: rgba(45, 45, 47, 0.886);
                border-radius: 5px;
                background: rgba(255, 217, 0, 0.8);
    
                &:hover {
                    height: 45px;
                    width: 90px;
                    margin: -5px 0px;
                }
            }
    
            .shop-item-button-bundle {
                @extend .shop-item-button;
                width: 120px;
                background: rgb(115, 198, 8);
    
                &:hover {
                    height: 45px;
                    width: 140px;
                }
            }
    
        }    
    }
}

