hr {
    height: 3px;
    margin: 3px 3px;
    background-color: black;
    border: none;
}

main {
    padding-bottom: 50px;
}

.page-title {
    text-align: center;
    font-weight: bolder;
    font-size: calc(2em + 2vw);
    color: #81c3d7;
    text-shadow: 
        -2px -2px 0 #ffffff,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

section {
    background-color:  rgb(175, 177, 180);
    padding: 20px;
    margin: 10px;
    border: 3px solid #000;

    h2 {
        padding: 0px;
        margin: 0px;
    }
}