@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

/* ----------------- Media queries tablet ----------------- */
@media only screen and (max-width: 991px) {
    /* ----------------- index.html ----------------- */
    #main-index {
        #carousel-main {
            margin-top: 35px;
            margin-bottom: 75px;

            .carousel-inner {
                min-height: 1000px;

                .wheel-div img {
                    @include sizes(350px, 350px);
                }
            }

            .arrow {
                width: 40px;
            }
        }
    }

    /* ----------------- Footer ----------------- */
    footer {
        height: 45px;

        .footer-icono {
            @include sizes(25px, 25px);
            margin-right: 10px;
            margin-left: 10px;

            &:hover {
                @include sizes(30px, 30px);
            }
        }
    }

    /* ----------------- Header ----------------- */
    header {
        .img-mini-mage {
            @include sizes(75px, 75px);
        }
    }
}

/* ----------------- Media queries smartphone ----------------- */
@media only screen and (max-width: 575px) {
    /* ----------------- index.html ----------------- */
    #main-index {
        #carousel-main {
            margin-top: 20px;
            margin-bottom: 25px;

            .carousel-inner {
                min-height: 900px;

                .wheel-div img {
                    @include sizes(200px, 200px);
                }
            }

            .arrow {
                width: 30px;
            }
        }
    }

    footer {
        .footer-icono {
            margin-right: 20px;
            margin-left: 20px;
        }
    }
}