/* ----------------- Media queries tablet ----------------- */
@media only screen and (max-width: 991px) {
    /* ----------------- index.html ----------------- */
    #main-index {
        #carousel-main {
            margin-top: 35px;
            margin-bottom: 75px;

            .carousel-inner {
                .wheel-div img {
                    width: 350px;
                    height: 350px;
                }
            }
        }
    }

    /* ----------------- Footer ----------------- */
    footer {
        height: 45px;

        .footer-icono {
            height: 30px;
            width: 30px;
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    /* ----------------- Header ----------------- */
    header {
        .img-mini-mage {
            height: 75px;
            width: 75px;
        }
    }
}

/* ----------------- Media queries smartphone ----------------- */
@media only screen and (max-width: 575px) {
    /* ----------------- index.html ----------------- */
    #main-index {
        #carousel-main {
            margin-top: 20px;
            margin-bottom: 25px;

            .carousel-inner {
                .wheel-div img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }

    footer {
        .footer-icono {
            margin-right: 20px;
            margin-left: 20px;
        }
    }
}